.table tbody tr:hover td{
    background: mediumpurple;
    opacity: 0.8;
}
.my-navbar{

    background-color: transparent !important;
    border-color: transparent;
    background-image: none;
    box-shadow: none;
    font-family: 'Dosis', sans-serif;
    font-size: 24pt;

}

.my-navbar .navbar-brand{
    color: #ecf0f1;
    font-size: 24pt;
}

.my-navbar .navbar-brand:hover,
.my-navbar .navbar-brand:focus{
    color: #ecdbff;
}
.my-navbar .mn-primarymenu > li > a{
    color :#ecf0f1;
}
.my-navbar .mn-primarymenu > li > a:hover,
.my-navbar .mn-primarymenu > li > a:focus{
    color: #ecdbff;
}

.my-navbar .mn-primarymenu > .active >a,
.my-navbar .mn-primarymenu > .active >a:hover,
.my-navbar .mn-primarymenu > .active >a:focus{
    color: #ecdbff;
    background-color: #8e44ad;
}
.my-navbar .mn-primarymenu > .open >a,
.my-navbar .mn-primarymenu > .open >a:hover,
.my-navbar .mn-primarymenu > .open >a:focus{
    color: #ecdbff;
    background-color: #8e44ad;
}
.bt{
    background-image: url("../img/heart.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
.input-group{
    margin-left:15%;
    width: 80%;
}